TC_DOMAIN=ToBeDefined
# TC_DOMAIN_2=ToBeDefined
# TC_DOMAIN_3=ToBeDefined
# TC_DOMAIN_4=ToBeDefined
# CDN_DOMAIN=ToBeDefined
ADMIN_MAIL=ToBeDefined
DB_NAME=tekapocart
DB_USER=tekapocart
DB_PASSWD=ToBeDefined
DB_RT_PASSWD=ToBeDefined